<div class="sidebar">
    <div
        class="search-bar"
        ng-class="{'round-corner': isResultsPanelCollapsed || isResultsPanelClosed}">

        <div class="logo"></div>

        <form name="searchForm" ng-submit="searchForm.$valid && search()" novalidate>
            <div class="input-container">
                <input type="text" placeholder="Поиск организаций" class="search-input" ng-model="formQuery" required></input>
            </div>
            <button type="submit" class="button search-btn">
                <i class="fa" ng-class="isLoading ? 'fa-spinner fa-spin' : 'fa-search'"></i>
            </button>
        </form>
    </div>

    <div
        class="results-panel"        
        ng-hide="isResultsPanelClosed"
        ng-class="{collapsed: isResultsPanelCollapsed}">

        <button class="button results-hide-btn" ng-click="hideResultsPanel()">
            <i class="fa fa-arrow-left"></i>
        </button>
        <button class="button results-close-btn" ng-click="closeResultsPanel()">
            <i class="fa fa-times"></i>
        </button>
        <button class="button results-show-btn" ng-click="showResultsPanel()" ng-show="isResultsPanelCollapsed">
            <i class="fa fa-bars"></i>
        </button>


        <filial-list ng-show="searchStatus === 'ok'"></filial-list>


        <div class="error-message" ng-show="searchStatus === 'nothingFound'">
            <div class="results-header">Увы и ах</div>
            <p>Даже 2ГИС не знает ответа на ваш вопрос.</p>
            <p>Попробуйте поискать другие ключевые слова.</p>
        </div>


        <div class="error-message" ng-show="searchStatus === 'error'">
            <div class="results-header">Что-то пошло не так</div>
            <p>Произошло нечто непредвиденное.</p>
            <p>Попробуйте повторить поиск позже.</p>
        </div>
    </div>
</div>

